@import 'reset';
@import './config/variables';

@import './partials/_header';
@import './partials/_baloon';
@import './partials/_services';
@import './partials/_features';
@import './partials/_clients';
@import './partials/_paral';


body {
  background-color: $bg-color;
  color: $font-color;
  overflow-x: hidden;
}