.baloon {    
    color: $bg-color;
    height: 800px;
    background-image: url("/img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;   
    text-align: center;
    animation: bg 0.7s linear;
    animation-fill-mode: forwards;
    background-position: center;
    &__content {
        z-index: 1200;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    &__title {    
        font-size: 48px;
        font-weight: 400;
        line-height: 24px;        
    }
    &__pros {        
        font-size: 30px;
        font-weight: 400;
        line-height: 24px;        
    }
    &__icon {    
        margin: 40px 0;    
        font-size: 80px;
        animation: spin 10s linear infinite;
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}





.baloon::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/img/bg2.png");
    top: 0;
    left: 0;
}

form {
    height: 54px;
    display: flex;
    text-align: center;
    border: 20px solid #d8dddd;
    background: white;
}

input[type="text"] {
    padding-left: 25px;
    width: 275px;
    border: none;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;    
    width: 108px;
    height: 100%;
    text-align: center;
    font-weight: bold;
    background-color: $primary-color;
    border: none;
    padding-left: 20px;
    font-size: 18px;   
}

label {
    position: relative;
}

label::before {
    content: ">";
    font-family: Simplifica;    
    font-size: 25px;      
    position: absolute;
    top: 14px;
    right: 20px;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    pointer-events:none;
}

input[type="submit"] {
    width: 154px;
    background-color: $primary-color;
    border: none;
    margin-left: 1px;
    cursor: pointer;
    color: $bg-color;
    font-size: 14px;
}

@keyframes bg {
    from {
        transform: scale(0);
        opacity: 0;
        
    }
    to {
        transform: scale(1);
        opacity: 1;
        background-color: blue;
     
    }
}



