.clients {
    margin-top: 87px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    
    &__title {   
        color: #202242;
        font-family: Raleway;
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
    }
    &__paragraph {
        max-width: 325px;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #adadad;
        margin-top: 28px;
    }    
    &__companies {
        width: 50%;
        display: flex;
        justify-content: space-between;
        margin-left: 75px;
    }
}

