.features {
    
    font-family: Raleway;
    line-height: 24px;
    color: #202242;
    background-image: url("/img/shape2.png");
    background-repeat: no-repeat;    
    background-position: center;
    text-align: center;
    padding-top: 98px;
    padding-bottom: 122px;
    
    
  
    &__title {   
        
        margin-bottom: 30px;
        font-size: 48px;
        font-weight: 700;        
    }


    &__subtitle {
        font-size: 24px;
        font-weight: 400;
    }
    

    &__items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 87px;
    }

}



.item__title {
    color: #f4d320;
    font-family: Rockwell;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    margin: 31px 0 26px;
}

.item__text {
    max-width: 240px;
    color: #202242;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}