.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;    
    &__logo {
        height: 35px;
        display: flex;
        align-items: center;
    }
    &__name {
        font-size: 30px;
        margin-left: 18px;
        &--bold {
            font-weight: bold;
        }
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        li {
            margin: 0 35px;
            a {
                text-decoration: none;
                color: black;
                text-transform: uppercase;
                font-size: 16px;
            }
        }
    }

    .active {
        color: $primary-color;
    }

    &__text {
        font-size: 14px; 
        position: relative;  
        color: $font-color;
    }


    &__items {        
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;  
       
        input {
            height: 41px;
            width: 122px;
            background-color: $primary-color;
            cursor: pointer;
            border: none;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;     
        }
        .hr {
            width: 1px;
            height: 34px;
            background-color: #202242;
            opacity: 0.31;           
        }
    }
    &__number {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        margin-right: 10px;
        
        
    }
    .fa-phone {
        font-size: 24px;
        color: $primary-color;
    }
}