.paral, .paral2{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;    
    height: 100vh;
}

.paral {
    background-image: url("/img/citrus.jpg");
}

.paral2 {
    background-image: url("/img/city.jpg");
}
