.services {
    display: flex;
}



.box1, .box2 {
    width: 50%;
    background-color: #202242;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 650px;
}
.box2 {
    width: 50%;  
    background-color: #ffe13e;  
}

.box-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
    width: 363px;
    font-family: Raleway;
}

p {
    max-width: 410px;    
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

button {   
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    height: 50px;
    width: 150px;
    color: white;
    border: 3px solid white;
    background: transparent;
    cursor: pointer;
}
















// .box1, .box2 {
//    background-color: #202242;
//    color: white;
//    width: 50%;
// //    box-sizing: border-box;
//    display: flex;
//     flex-direction: column;   
//     align-items: center;
//     justify-content: space-between;
//     padding-top: 116px;
//     padding-bottom: 107px;
  
// }






// // .box2 {
// //     box-sizing: border-box;
// //     width: 50%;
// //     background-color: #ffe13e;
// //     flex-direction: column;   
// //     align-items: center;
// //     justify-content: space-between;
// //     padding-top: 116px;
// //     padding-bottom: 107px;

// // }


h2 {
   
    color: #202242;    
    font-family: Raleway;
    font-size: 134px;
    font-weight: 700;
    line-height: 44.59px;
    
}

.textImg {
    height: 169px;
    display: flex;
    justify-content: center;
    align-items: center;
}